
<!-- wird dieses file hier noch gebraucht oder hattest du das nur zu debug zwecken ? -->

<%= params.inspect %><br/>
<%= params[:comment] %><br/>
<%= params[:id] %>
<p>
	Comment Text: <%= @comment.comment_text %><br/>
	Post ID: <%= @comment.post_id %><br/>
</p>