<%= error_messages_for "post"%>

<p>You just sent us:</p>
<div class="user_input">
  <%if params[:cover] %>
    TODO cover does not work currently
	<%= "<img src=\"/#{ENCLOSURE_PATH}#{current_user.login}_cover.png\"/>" %>
  <% else %>
	 <%= image_tag "icon_mp3_64.png" %><br/>
  <% end %>
  
  <% filename = File.basename @original_name %>
  <%= filename[0..20] %>
</div>
<br/>

<!-- form to edit basic id3 tag information -->
<p>
  Please make sure this information is correct and <b>don't forget <br/>
  to write a comment before posting the tune.</b>
</p>

<% form_tag "post_in_feed" do%>
<input type="hidden" id="original_name" name="original_name" value="<%= @original_name%>"/>
<p><label for="tag_artist">Artist</label><br/>
<%= text_field :tag, :artist %></p>
<p><label for="tag_title">Title</label><br/>
<%= text_field :tag, :title %></p>
<p><label for="tag_album">Album</label><br/>
<%= text_field :tag, :album %></p>
<p><label for="tag_comment">Comment</label><br/>
<%= text_area(:tag, :comment, :rows => 20, :cols => 40)%></p>
<div class="buttongroup2">
    <%= submit_button_tag "post to feed","icon_ok_64.png"%>
    <%= image_link "icon_cancel_64.png","go back<br\>and delete file",
					"/music/index?delete_file=true","button"%>

</div>				
<% end %>
<div style="clear:both"/>
