<%= error_messages_for "post"%>

<p>You just sent us:</p>
<div class="user_input">
  <%if params[:cover] %>
TODO das hier passt noch nicht
	<%= "<img src=\"/#{ENCLOSURE_PATH}#{current_user.login}_cover.png\"/>" %>
  <% else %>
	 <%= image_tag "icon_mp3_64.png" %><br/>
  <% end %>
  
  <% filename = File.basename @original_name %>
  <%= filename[0..20] %>
</div>
<br/>
<p>ID3 info says that this is:</p>
<p>
  <table id="tagtable">
	 <tr><td class="header">Artist</td><td class="data"><%= @tag.artist %></td></tr>
	 <tr><td class="header">Title</td><td class="data"><%= @tag.title %></td></tr>
	 <tr><td class="header">Album</td><td class="data"><%= @tag.album %></td></tr>
	 <tr><td class="header">Category</td><td class="data"><%= params[:category]  %></td></tr>
	 <tr><td class="header">Comment</td><td class="data">
		  <%= @tag.comment.nil? ? "! comment missing !" : @tag.comment   %>
	 </td></tr>
  </table>
</p>
<p>
  Please make sure this information is correct and don't forget <br/>
  to write a comment before posting the tune.
</p>
<div class="buttongroup3">
  <%= image_link "icon_ok_64.png","post tune","/music/post_in_feed?original_name=#{@original_name}","button"%>
  <%= image_link "icon_edit_64.png","edit ID3 data","/music/edit_tag?original_name=#{@original_name}","button"%>
  <%= image_link "icon_return_64.png","go back","/music/index?delete_file=true","button"%>
</div>
<div style="clear:both"/>

